* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(43, 43, 43);
    display: flex;
    justify-content: center;
    position: relative;
}

.music-player {
    position: absolute;
    margin-top: 5rem;
    background: rgb(26, 25, 25);
    border: 2px solid darkred;
    box-shadow: 0 0 10px 5px rgb(51, 6, 6);
    border-radius: 20px;
    width: 80%;
    animation: top 3s normal;
}
@keyframes top {
    0%{
        top: 700px ;
    }
    100%{
        top: 0px;
    }
}
.pic {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

#cover {
    border-radius: inherit;
    display: block;
    height: 100%;
    width: 100%;
    
}

@keyframes deg {

    0%{
        transform: rotate(0deg);
    }

    /* 50% {
        transform: rotate(180deg);
    } */
    100%{
        transform: rotate(359.9deg);
    }
}

.picture {
    height: 200px;
    width: 200px;
    background: rgb(0, 0, 0);
    border-radius: 50%;

    box-shadow: 0 0 10px 5px rgb(51, 6, 6);
    animation: base-pic 10s infinite;
}


@keyframes base-pic {

    0%,
    100% {
        border: 3px solid black;
        box-shadow: 0 0 10px 5px rgb(51, 6, 6);
    }

    15% {
        border: 3px solid red;
        box-shadow: 0 0 10px 5px darkred;
    }

    30% {
        border: 3px solid black;
        box-shadow: 0 0 10px 5px rgb(51, 6, 6);
    }

    45% {
        border: 3px solid red;
        box-shadow: 0 0 10px 5px darkred;
    }

    60% {
        border: 3px solid black;
        box-shadow: 0 0 10px 5px rgb(51, 6, 6);
    }

    75% {
        border: 3px solid red;
        box-shadow: 0 0 10px 5px darkred;
    }

}

@media (hover: hover) {
    .btn:hover {
        background-color: #d8d8d8;
        color: #545454;
    }

    .special-btn:hover {
        opacity: 0.75;
    }
}

.control {
    width: 100%;
    display: flex;
    justify-content: center;
}

h1 {
    color: lightgray;
    margin-top: 1rem;
    font-size: 16pt;
}

.line-music {
    width: 90%;
}

#music-info {
    text-align: center;
    width: 100%;
    position: relative;
}

#progress-container {
    height: 4px;
    width: 100%;
    background-color: rgba(121, 121, 121, 0.2);
    margin: 2rem 0 1rem;
    cursor: pointer;
    border-radius: 8px;
}

#progress {
    background-color: #c2c2c2;
    width: 0%;
    height: inherit;
    border-radius: inherit;
    transition: width 100ms ease-in;
}

#timer-bar {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    color: lightgray;
    margin-left: 5%;
    margin-right: 5%;
}

.download {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;


}

.download a {
    border: 2px solid darkred;
    box-shadow: 0 0 5px 5px rgb(51, 6, 6) solid 1px;
    border-radius: 30px;
    background: darkred;
    text-decoration: none;
    font-size: 9pt;
    color: red;
    /* padding: 1rem; */
    display: flex;
    width: 8rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
}

.download a b {

    display: block;
}

.download b {
    padding-right: 10px;
}

.download-btn {
    border: none;
    color: red;
    padding: 5px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
}

#control-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.special-btn {
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    /* margin: 0 1rem; */
    padding: 1.4rem;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 4rem;
    transition: opacity 200ms linear;
}