*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(90deg, rgb(0, 255, 191)0%, rgb(225, 0, 255)100%);
    height: 500px;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#btn{
    border: 0;
    background: white;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 1px rgb(225, 0, 255);
}